[2017-06-22 22:49] lizan opened #10 "HTTP filter example"
Currently only L4 (TCP) filter are there, it would be nice to have HTTP filter example too.

[2017-06-27 21:26] msample opened #11 "Build errors - include/registry dependency & exe:envoy_main_lib ref"
Building master with given README.md instructions inside the lyft/envoy-build:latest container fails with:

[code]

Works if update ./BUILD's envoy_cc_binary to depend on "@envoy//source/exe:envoy_main_entry_lib" instead "@envoy//source/exe:envoy_main_lib" and bump envoy git submodule to tip of master.

[2017-06-27 21:36] htuch commented on #11
Thanks @msample for the update. Do you want to put together a PR for this?

@dnoe I think this was your change. Not sure how CI continue to work, I thought we only override WORKSPACE but use the master BUILD.

[2017-06-27 22:35] msample commented on #11
Hope that PR fits the bill.     On the subject of customizing envoy like this example - will it scale?  I'm guessing there will be many additional custom filters (e.g. istio/envoy).   Seems like it would be easier to bootstrap that ecosystem by defining a 'contrib' format that could be pulled into the main lyft/envoy project and configured - or do we just need a LUA scripting filter ;) ?

[2017-06-27 23:15] mattklein123 commented on #11
@msample if you want to discuss contrib/experimental type workflow in main repo please open an issue there and we can discuss.

[2017-06-28 13:16] dnoe commented on #11
The PR looks good.  I'm also confused why the CI didn't catch this - the change to main entry point went in a few weeks ago so it's passed many many times since then.  I'll look into it.

[2017-06-28 13:56] dnoe commented on #11
The reason why it was not caught is that the CI steps run all the tests in envoy-filter-example but do not actually build main (and main is not a dependency of the tests).  I'll create a PR to also build the Envoy executable from envoy-filter-example as part of the CI steps.

[2017-06-28 17:11] #11 closed

[2017-07-06 23:22] gabriel-sagula-hs commented on #10
Would be nice to have a more robust API documentation as well.

[2017-07-06 23:45] lizan commented on #10
@mattklein123 @htuch Is anyone working on this? If no, @mtakigiku will take this.

[2017-07-06 23:51] mattklein123 commented on #10
No one is working on it. @lizan  @mtakigiku A++

Whatever you want to do is great, but I would probably start with something dead simple which just modifies some headers. Then we could have a different example that uses continuations maybe. (Or maybe even the example could set a a timer and continue after some period of time based on a header).

[2017-07-25 15:33] htuch commented on #10
Fixed in #14.

[2017-07-25 15:33] #10 closed

[2017-08-01 18:49] hzariv opened #15 "Filter example that uses third-party libraries"
Is there a recommend approach for developing a filter that uses third-party C++ libraries?
This document describes how to add external libraries to envoy but how can a filter developer add external third-party opensource C or C++ libraries for filter usage?

https://github.com/lyft/envoy/blob/master/bazel/EXTERNAL_DEPS.md

[2017-08-01 19:29] mattklein123 commented on #15
We probably need to somehow allow all of the locations in https://github.com/lyft/envoy/blob/master/bazel/EXTERNAL_DEPS.md to be extended by the consuming project somehow. @htuch ?

[2017-08-01 20:22] htuch commented on #15
Yeah, but TBH the original recursive make solution is a complete hack and I don't think we want to build castles on it. My best advice on this is to either:

1. Integrate the filter into Envoy and add the dependency there.
2. Add the 3rd party library as a Bazel dependency in the consuming project (and do the work to Bazelify the project if necessary). This may or may not be reasonable, depending

[2017-08-01 20:42] hzariv commented on #15
I am trying to develop a filter to validate JWT token. There are C++ open source libraries for JWT token (here is one example https://github.com/pokowaka/jwt-cpp). This library also has external dependency on https://github.com/akheron/jansson. @htuch which approach above would you recommend for this type of filter?

[2017-08-01 20:46] htuch commented on #15
jwt-cpp seems simple enough for (2). Its dependency on Jansson will make the BUILD file writing probably a bit involved, since that is a bit larger and also uses autoconf.

BTW, are you aware that Datawire are working on an external auth filter that would probably be capable of doing this by calling out to a separate process/server? @ark3

[2017-08-01 20:47] htuch commented on #15
Looks like someone has figured out the Jansson BUILD bit: https://github.com/twitter/heron/tree/master/third_party/jansson. A bit of a megahack with `genrule`, but when in Bazel...

[2017-08-01 20:53] hzariv commented on #15
@lizan Yes I saw that but are you going to implement JWT token validation and authorization claims from scratch yourself or use some third party library. In the second case, wouldn't you face the same issue?

[2017-08-01 20:57] hzariv commented on #15
@htuch yes I have looked at https://github.com/datawire/ambassador-envoy the external service call is a performance bottleneck.

[2017-08-01 21:03] lizan commented on #15
@hzariv Yes, I was just curious if we can converge the efforts implementing JWT filters. I'm open to contribute the JWT filter (though it is still WIP). we evaluated those deps and decided to implementing from scratch because it is simple and we already have similar code. Also I didn't want to introduce 2 different libraries to deal with JSON (RapidJSON / jansson)

re: third-party deps in general,

[2017-08-01 21:16] hzariv commented on #15
@htuch / @lizan could you point me to some option (2) examples?
(sorry I come from Java world where build systems are simple :))

[2017-08-01 22:20] lizan commented on #15
@hzariv https://github.com/istio/proxy/blob/master/repositories.bzl#L75 this is the sample to bazelify `googletest`, this is already in envoy as (3), but we excluded that in istio/proxy.

[2017-08-29 18:11] jrajahalme opened #17 "Envoy tests fail with missing 'protoc'"
Following the readme, everything else works, but the last option to run all the envoy tests. It fails with this:

[code]

However, the build log for protobuf.dep.log shows 'protoc' has been built and installed:

[code]

And the binary actually runs, too:

[code]

This from a freshly cloned lyft/envoy-filter-example, following the instructions on README.md.

[2017-08-29 18:21] jrajahalme commented on #17
Searching around I found someone else has hit the same exact issue: https://pastebin.com/SQKUYEiM

[2017-08-29 18:36] mattklein123 commented on #17
@htuch any ideas?

[2017-08-29 22:09] htuch commented on #17
Not immediately, I'll take a look at this tomorrow.

[2017-08-30 19:28] htuch commented on #17
This is just the `//...` vs. `//test/...` issue, due to the way that the CI prebuild BUILD file works` issue. I'll update `README.md` with the correct instructions.

[2017-08-30 20:11] #17 closed

[2017-08-31 00:37] jrajahalme commented on #17
Thanks!

[2017-09-12 10:33] SurajMenon opened #21 "C++ compilation error during build"
While trying the steps mentioned in https://github.com/lyft/envoy-filter-example/tree/master/http-filter-example, the build(bazel build //http-filter-example:envoy) gives a compilation error on mac:

Following is the exception in detail:

Do let me know if you think I might be doing something wrong.

[2017-09-12 13:59] htuch commented on #21
Can you provide compiler/toolchain information? Thanks.

[2017-09-12 14:45] mattklein123 commented on #21
Per @htuch please make sure you have the right version of xcode documented here: https://github.com/lyft/envoy/tree/master/bazel#quick-start-bazel-build-for-developers

[2017-09-13 05:54] SurajMenon commented on #21
@htuch The issue persisted even after using xcode 8.3.3

[2017-09-13 21:32] htuch commented on #21
@SurajMenon Check out https://github.com/lyft/envoy/blob/master/ci/README.md#building-and-running-tests-as-a-developer for how to work with Envoy in the Docker image used by CI, which does basically what you are after.

I can't replicate this as a I build on Linux. I suspect it's a compiler too new/old issue. I know we hit these missing-default-constructor issues internally in Google with some com

[2017-10-25 18:51] PatrickAuld opened #23 "Bazel build error when using lyft/envoy-build:latest and CI scripts"
I'm attempting to build Envoy and test the example filter but keep hitting the same build issue. I first encountered this attempting to run Bazel on Mac but I can reproduce it using the Docker build container as well. I've gone though the [quick-start-bazel-build-for-developers](https://github.com/lyft/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers) locally and also tried

[2017-10-25 23:04] mattklein123 commented on #15
Closing this out as answered.

[2017-10-25 23:04] #15 closed

[2017-10-25 23:04] mattklein123 commented on #21
Closing out as answered.

[2017-10-25 23:04] #21 closed

[2017-10-25 23:04] mattklein123 commented on #23
@htuch any idea on this one? Does something need to get updated due to all the recent changes?

[2017-10-26 03:05] htuch commented on #23
The second set of errors (in particular `RROR: in target '//external:cc_toolchain': error loading package '@local_config_cc//': Extension file not found. Unable to load file '@local_config_cc//:dummy_toolchain.bzl': file doesn't exist or isn't a file`, from Bazel command directly leads me to think that either the version of Bazel is not 0.7.0 (check with `bazel version`), which is the minimum we r

[2017-10-26 18:57] PatrickAuld commented on #23
This ended up being partly user error; XCode failed to install via the App Store and I didn't notice. Once everything was installed correctly I am able to build Envoy in its _own repo_ on `master` on my Mac. I can not build it from this repo and its submodule however.

I did do the `git submodule update --init` command before building previously. My bazel version is `0.7.0-homebrew`.

This is the

[2017-10-26 22:38] karolz-ms commented on #23
I have the same issue except the error is, for some reason, different

[code]

I did update the submodule to one of today's commits (https://github.com/karolz-ms/envoy-filter-example/commit/15f68771a5a8b69b6414c3672cd2f63edcf6d9fc), have run `git submodule update --init` and `basel clean --expunge`... no luck. Using `lyft/envoy-build:latest` to build.

Please help--thx!

[2017-10-26 22:52] PatrickAuld commented on #23
Oddly I get a different error when using the `lyft/envoy-build:latest` docker image.

[code]

[2017-10-26 23:03] karolz-ms commented on #23
@PatrickAuld I have seen this one too, but only once. After `basel clean` I started seeing the one I quoted above. Go figure...

[2017-10-27 13:57] htuch commented on #23
I can repeat this, will fix.

[2017-10-27 15:21] #23 closed

[2017-10-27 17:03] karolz-ms commented on #23
Thanks @htuch appreciate quick resolution. Things are looking good on my side now.

[2017-11-05 13:35] nmnellis opened #25 "http-filter-example test fails"
compilation errors when testing http-filter-example from commit `d87ee2c4024703b8cf379f0b5c0ebc345ef0de59`  on OSX, bazel version `0.6.1`
[code]

[2017-11-05 23:45] nmnellis commented on #25
Submitted pull request https://github.com/envoyproxy/envoy-filter-example/pull/26

[2017-11-06 03:59] #25 closed

[2017-11-23 23:47] jrajahalme opened #28 "Build fails with bazel 0.7.0."
[code]

[2017-11-27 21:43] jrajahalme commented on #28
Works after updating the envoy git submodule to current Envoy master.

[2017-11-27 21:43] #28 closed

[2018-01-05 02:10] dio opened #31 "How to add .proto with validate/validate.proto e.g. for the http-filter-example?"
I'm thinking to add a .proto for the `HttpSampleDecoderFilter` which imports `validate/validate.proto` inside it, in this setup how to do that exactly?

I tried to use the `envoy_proto_library` but no luck.

Got following error (validate/validate.proto: File not found.):

[code]

Here is my edited `http-filter-example/BUILD` file:

[code]

And the corresponding `http-filter-example/http_filter.pro

[2018-01-05 15:27] dio commented on #31
It seems like we can't really put `api_proto_library` as one of `deps` for `envoy_cc_library` since it requires `cc_proto_library`? (I'm not sure I understand bazel though). Will try to play around.

[2018-01-05 19:17] htuch commented on #31
`api_proto_library` is what is used already by Envoy for its inbuilt configurations, e.g. https://github.com/envoyproxy/envoy/blob/3b3c0094d0988dabdffd96936420cf042e07f5c7/source/common/grpc/BUILD#L83 and https://github.com/envoyproxy/data-plane-api/blob/aa73175ddf5e229dd4d97a019e5312ba1263d252/api/filter/http/BUILD#L21.

[2018-01-06 01:03] dio commented on #31
Thanks @htuch I think I found the way to do it. 🙏

[2018-01-09 14:59] #31 closed

[2018-02-10 21:51] mattklein123 opened #37 "Setup CI"
We need a better story for keeping this up to date and also doing CI on it.

[2018-02-19 16:05] shishir127 opened #38 "Unable to build the filter example"
Followed the directions for [building the example filter](https://github.com/envoyproxy/envoy-filter-example#building) but I keep getting this error. I'm trying to build on OS X El Capitan and I've made sure I have the latest version of all [dependencies listed](https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers).

Can someone help me with resolv

[2018-02-20 15:44] alyssawilk commented on #38
@zuercher any ideas?

[2018-02-20 18:07] zuercher commented on #38
Have you been able to build bazel separately from the filter example? It looks to me that the version of envoy specified as a submodule in envoy-filter-example is just old enough not to work with bazel 0.10 (for me bazel errors out immediately with an error message that I recognize as occurring when one tries to build envoy with an older version of bazel).

I updated the envoy version to head of m

[2018-02-21 06:40] shishir127 commented on #38
@zuercher I'm using bazel for the first time, so I don't know what building bazel separately means. Is there some documentation/guide somewhere that I can refer to? BTW I'm using bazel 0.10.1.

I also updated envoy to the latest commit that you mentioned and tried building it locally, but I get the error `ERROR: in target '//external:cc_toolchain': no such package '@local_config_cc//': too many (2

[2018-02-21 18:26] zuercher commented on #38
Sorry, I meant building envoy separately -- e.g. cloning it directly and building there.

The bazel error `too many (2) positional arguments in call to configure_osx_toolchain(repository_ctx)` is indicative of trying to compile a version of  envoy (95ee420c379942fd692b42c84a1fd5ef4d7035ec or later) with bazel 0.9 (or earlier).

Building current master with bazel 0.10.1 works for me. I have xcode 9

[2018-02-28 15:45] taion809 commented on #37
@mattklein123 if you create the project in circleci i can work on setting up the build pipelines

[2018-02-28 19:17] mattklein123 commented on #37
@taion809 I just enabled Circle for this project. Have at it! Thank you!

[2018-03-02 16:06] #37 closed

[2018-03-12 18:56] zuercher commented on #38
Were you ever able to get this working?

[2018-03-13 04:24] shishir127 commented on #38
No I wasn't. Will close those issue.

[2018-03-13 04:24] #38 closed

[2018-07-05 17:00] ilaipx opened #52 "Building fails with error: "ld: unknown option: -no-as-needed""
I've installed all requirements, and ran a straight forward `bazel build //:envoy` and got the following error:
[code]
* I'm running on Mac OS X High Sierra.

Also tried running `bazel clean --expunge` before building but to no avail.

What might be the problem?

[2018-07-07 12:12] ilaipx commented on #52
The problem seems to be with the latest version of bazel.

Instead of installing latest version, [Install using binary installer](https://docs.bazel.build/versions/master/install-os-x.html#installing-using-binary-installer) and choose bazel version 0.14.1 on https://github.com/bazelbuild/bazel/releases

[2018-07-07 12:12] #52 closed

[2018-08-25 10:33] chopmann opened #55 "build process consistency (dev-tooling)"
I know it's an example project, but after fighting a bit with bazel or more so (ccache and fedora 28) and almost giving up, I went to the "main repo" and had a look at the docs and because you folks are so nice, there are bunch of Images + scripts that wrap away all the nastiness of dependencies and tooling.

One just needs
https://github.com/envoyproxy/envoy/blob/master/ci/run_envoy_docker.sh
htt

[2018-08-29 02:37] sirajmansour commented on #55
It would be awesome to get some out of the box IDE support like visual studio for people (like me) who are not familiar with bazel builds and C++ development.

[2018-09-05 08:33] gochist opened #56 "Integration test fails for http filter example"
Command
[code]

Output
[code]

[2018-09-05 08:40] gochist commented on #56
Test environment information:
[code]

[2018-09-05 10:59] dio commented on #56
@gochist it seems we need to update the test, since yeah that `makeHeaderOnlyRequest`'s signature has changed.

Probably you can try the following patch and send a PR?

[code]

FWIW, if you're interested to have an outside-tree filter project, that potentially has multiple filters, you can check https://github.com/dio/envoy-filter-diy/commits/master. Each commit has, I believe, useful information

[2018-09-12 01:05] #56 closed

[2018-09-19 23:32] rbkumar88 opened #59 "create filter with external deps cryptopp"
Hi,

Do we have samples on how to add external deps on a filter using the bazel BUILD/WORKSPACE for eg., in my case I would like to add the crytopp dependency into my filter.

Thanks
Bharath

[2018-09-20 02:48] htuch commented on #59
@rbkumar88 this is quite challenging for non-Bazel native builds, which it seems cryptopp is. You have basically three options:
1. Add your own `BUILD` files to build `cryptopp` under Bazel. You will need to own these and maintain them. Ideally you might be able to upstream them.
2. Do something similar to what we do in Envoy to build under either a genrule or repository rules, see https://github.

[2018-09-20 15:10] rbkumar88 commented on #59
thanks @htuch . Will you be able to help on this.
https://groups.google.com/forum/#!topic/envoy-users/uwjy1HwiBNE.

P.S.,Running this behind a company proxy and have HTTP_PROXY and HTTPS_PROXY already set. Not sure this is because of proxy or something else.

[2018-09-20 16:47] htuch commented on #59
@rbkumar88 I've replied to that thread. I'm going to close out this issue as I think the question is answered, please reopen if not.

[2018-09-20 16:47] #59 closed

[2018-09-21 08:45] vpiduri opened #60 "Build is successful but test are failing with below exception"
Thanks for all your help on this

gcc and g++ are below versions:

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Thread model: posix
gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)

DEBUG: /root/.cache/bazel/_bazel_root/cd764acb1d1bfad047ee8b5603f1640e/external/envoy

[2018-09-21 14:43] htuch commented on #60
@vpiduri AFAICT, this is some legitimate compiler bug that you're experiencing. Does this occur if you switch to a newer gcc or clang? I'm going to close out this bug, since I think it's unrelated to anything Envoy specific, but feel free to continue this thread and/or reopen if you discover this is Envoy related.

[2018-09-21 14:43] #60 closed

[2018-09-30 09:32] DemantT opened #61 "build error"
I build by bazel build //http-filter-example:envoy

ERROR: error loading package '': Extension file not found. Unable to load file '@com_lyft_protoc_gen_validate//bazel:go_proto_library.bzl': file doesn't exist or isn't a file
ERROR: error loading package '': Extension file not found. Unable to load file '@com_lyft_protoc_gen_validate//bazel:go_proto_library.bzl': file doesn't exist or isn't a fil

[2018-09-30 09:33] DemantT commented on #61
I build by  bazel build //http-filter-example:envoy

ERROR: error loading package '': Extension file not found. Unable to load file '@com_lyft_protoc_gen_validate//bazel:go_proto_library.bzl': file doesn't exist or isn't a file
ERROR: error loading package '': Extension file not found. Unable to load file '@com_lyft_protoc_gen_validate//bazel:go_proto_library.bzl': file doesn't exist or isn't a fi

[2018-09-30 11:31] htuch commented on #61
@DemantT this is probably due to https://github.com/envoyproxy/envoy/pull/4551. I will fix.

[2018-10-01 13:51] htuch opened #63 "Improve CI and WORKSPACE management in envoy-filter-example"
Following up from https://github.com/envoyproxy/envoy-filter-example/pull/62. A few systematic issues we should think about fixing in this repo:

1. I'm not seeing the .circleci/config.yaml build/test phases running as part of the GH checks here.
2. It would be nice to get regular nag e-mails from CircleCI when this repo is broken, rather than waiting for folks to discover this and file issues.
3.

[2018-10-01 13:52] #61 closed

[2018-10-02 15:45] DemantT opened #64 "build error no such package '@envoy_deps//': External dep build failed and referenced by '//external:tcmalloc_and_profiler'"
I build it on MacOS.
I update code and build with "bazel build ://http-filter-example:envoy" Under the root directory  but failed...  err msg is :
make: *** [/private/var/tmp/_bazel_root/1aaa4e112752cd596b47f9795fb7a4b5/external/envoy_deps_cache_2c744dffd279d7e9e0910ce594eb4f4f/cares.dep] Error 1
DEBUG: /private/var/tmp/_bazel_root/1aaa4e112752cd596b47f9795fb7a4b5/external/envoy/bazel/repositories

[2018-10-04 07:47] #64 closed

[2018-10-04 07:59] DemantT opened #65 "question about the filter"
I want to add a filter, and by judging if the traffic is in order, if it is not satisfied, it will return directly to the back end. I want to know whether it should inherit from the treamDecoderFilter, and what can I do to stop the back end service，Like the state of the return code tatus or something

thank you

[2018-10-04 09:14] dio commented on #65
Think you can do sendLocalReply, similar to this: https://github.com/dio/envoy-filter-diy/blob/master/source/extensions/filters/http/basic_auth/basic_auth.cc#L15

[2018-10-09 08:06] DemantT commented on #65
@dio Thank you very much

[2018-10-09 08:06] #65 closed

[2018-11-27 16:18] ilanuriel opened #70 "decodeData and decodeTrailers callbacks not being called"
I am trying to log Buffer::Instance& data, using decodeData method in http_filter.cc.
It appears that only decodeHeaders in http_filter.cc file is called. decodeData and decodeTrailers are never called.
Any explanation?

[2018-12-17 18:57] aejeet opened #72 "Unable to reference to envoy grpc proto when using envoy 1.8.0"
I am using the http-filter-example template to implement a custom envoy http filter of my own. In the filter config i need a reference to api/envoy/api/v2/core/grpc_service.proto. **The following BUILD script was working fine with envoy 1.7.1. But it fails to compile with envoy 1.8.0.**

I am new to bazel, and any help will be highly appreciated. I need 1.8.0 for some of the additional capabilitie

[2019-02-06 23:41] drao9 opened #75 "test coverage"
I am trying to get the test coverage for a filter written on top of envoy similar to http filter example. Was wondering if anyone has tried this before and what approach they took?

[2019-02-07 20:10] drao9 commented on #75
Update: just needed to change some paths in /test/run_envoy_bazel_coverage.sh and move it to the root directory.

[2019-02-07 20:10] #75 closed

[2019-03-02 14:17] robertpanzer commented on #55
:+1:
It would be nice to get some instructions on how to get started with an IDE.
Instead of looking at the filter implementation itself, I am spending all my time on Bazel and it's IDE support.
I know many folks can probably code C++ without any support from the IDE like resolving names, types, etc, but for me this is really frustrating.
It would be great to have a section in a readme to get star

[2019-03-02 14:43] jmarantz commented on #55
@oschaaf who has been using VSCode with Envoy. He might be able to shed some pointers.

 I like this idea quite a bit even though I don't usually use IDEs. I think the use of deeply nested namespaces with lots of names existing in multiple namespaces makes the codebase challenging to navigate with grep, so you need something that has properly parsed the code to help you find your way, especially w

[2019-03-02 16:30] oschaaf commented on #55
https://github.com/oschaaf/envoy-perf-vscode has a VSCode workspace, which is what I mostly use to work on https://github.com/envoyproxy/envoy-perf/nighthawk (which uses Envoy as a submodule, and bazel to build).

Through that I got visually assisted gdb debugging, intellisense, clang-formatting, easier code navigation and generally a place to consolidate tids and bits as launch (and misc) tasks i

[2019-03-12 13:23] robertpanzer opened #82 "Build with current Envoy master fails immediately"
To reproduce clone this repository and follow the instructions.
The build fails immediately before even trying to compile anything:
[code]

(I also called `bazel clean --expunge` before)

I am running on Ubuntu 18.04 with Bazel 0.23.1:
[code]

[2019-03-12 13:25] robertpanzer commented on #82
The last commit of Envoy that I tried was 33a61471bb180cab2df35564437052c4bfb82b91.
The current master build of Envoy alone succeeds for me.

[2019-03-12 13:32] snowp commented on #82
I believe this is due to https://github.com/envoyproxy/envoy/commit/fdbbe6edaaa971f6f095a2afffbf521fe9176cee. We'll need to make a change to the WORKSPACE file in this repo similar to the one made in the Envoy repo.

[2019-03-12 13:41] robertpanzer commented on #82
Thanks!
I made the change locally and the build continues.

[2019-03-19 15:12] #82 closed

[2019-04-21 11:11] kjyoti opened #85 "build fails for filter example - no such package"
/envoy-filter-example$ bazel build //:envoy
Starting local Bazel server and connecting to it...
ERROR: /home/jyoti/.cache/bazel/_bazel_jyoti/d7dbc3ad28d2496ca23a589bf2a3c01f/external/envoy/bazel/foreign_cc/BUILD:8:1: no such package '@com_github_gperftools_gperftools//': Traceback (most recent call last):
	File "/home/jyoti/.cache/bazel/_bazel_jyoti/d7dbc3ad28d2496ca23a589bf2a3c01f/external/bazel_

[2019-04-30 19:35] kuroneko25 commented on #85
Also running into this error.

[2019-06-01 06:28] dio opened #87 "http integration tests: Migrate c_str to getStringView"
As reported in: https://github.com/envoyproxy/envoy/issues/7082#issuecomment-497621734.

We can fix the issue by modifying https://github.com/envoyproxy/envoy-filter-example/blob/master/http-filter-example/http_filter_integration_test.cc#L39. And this PR https://github.com/envoyproxy/envoy/pull/6564 for inspiration.

cc. @Satvindar

[2019-06-03 18:26] Satvindar commented on #87
@dio, I have fixed this issue and build is successful now :)
 But when I am trying to create a PR, I am getting access denied error. I am sure I am missing some configuration before I push my changes to envoy git.  Can you help with the steps to follow for pushing my changes to envoy git? Thanks.

remote: Permission to envoyproxy/envoy-filter-example.git denied to Satvindar.
fatal: unable to acces

[2019-06-03 19:56] dio commented on #87
@Satvindar you need to work on your own fork. Please see e.g. this: https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2019-06-04 07:27] #87 closed

[2019-06-24 07:19] dio commented on #85
@kjyoti @kuroneko25 seems like you don't have `autoreconf` on your machine. Could you let us know the platform you use to build this project? Thanks!

[2019-09-18 15:05] gcaldeira opened #98 "Create a docker container to build custom filters"
Hi Guys!

I'm not able to build a custom filter on Envoy with bazel

I propose the creation of a Dockerfile that make it easier. I have a question open on stack overflow:

https://stackoverflow.com/questions/57995569/how-can-i-build-a-custom-envoy-filger-im-getting-bazel-build-error-on-envoy-m

[2019-09-18 15:06] gcaldeira commented on #98
The Dockerfile

[code]

[2019-09-24 10:19] xiongxiaoxx opened #99 "Target //http-filter-example:envoy failed to build"
I have tried to build http-filter-example following [README.](https://github.com/envoyproxy/envoy-filter-example/blob/master/http-filter-example/README.md) The build fails with the error below
[code]

[2019-10-29 03:31] wbpcode opened #107 "http filter example build error"
Due to envoy updated api_build_system.bzl, http filter example build error.
I create a new PR #106  to correct it.

[2019-10-29 03:32] wbpcode commented on #107
@mkbehr

[2019-10-29 03:38] wbpcode commented on #107
In fact, http-filter-example will still fail to build for another problem. It is being solved. #97

[2019-10-29 11:21] #107 closed

[2019-10-29 11:21] wbpcode commented on #107
#106

[2020-01-06 15:11] g-krishnan opened #113 "Help Wanted! Creating a custom envoy docker image"
Hello!, I wrote a custom http filter for envoy (following the sample available here). I am able to build the project and generate an envoy static binary using `bazel build //http-filter-example:envoy`.  I tried to generate a docker image for envoy with this custom filter included following the documentation [here](https://www.envoyproxy.io/docs/envoy/latest/install/sandboxes/local_docker_build) bu

[2020-01-23 11:19] mythi opened #115 "consider moving to envoy/ci/* scripts"
FYI: after envoy/pull/9535 it's possible to re-use envoy's CI targets. Perhaps move to use those?

[2020-01-29 09:15] catper opened #116 "Build fails repeatedly, with different errors"
I'm following the README but compilation initially fails with the following message:

[code]

If I then, just to see what happens, try executing the build again, I get another error message:

[code]

I haven't changed anything from cloning the project, I'm just trying to compile the provided example. FWIW I am able to build Envoy in "stand-alone mode", i.e. if I clone and build envoy outside of th

[2020-01-30 09:24] catper commented on #116
this is apparently down to a conflict with protoc, uninstalling protobuf resolves the issue

[2020-01-30 09:24] #116 closed

[2020-02-12 16:12] #55 closed

[2020-03-01 11:40] catalin-me commented on #85
@kjyoti @kuroneko25 Make sure to install the required dependencies and check to see if the issue persists:

#### Ubuntu

[code]

#### Mac OS
[code]

[2020-03-07 16:46] cherryland opened #119 "git submodule dependency"
As a Bazel user I would expect to download the envoy source code by using a Bazel repository rule.

Example

[code]

The build **fails** when trying to make envoy available for binding by using the [http_archive](https://docs.bazel.build/versions/master/repo/http.html) rule to download the Bazel repository as a compressed archive file.

What is the technical reason behind the strict git submodule

[2020-03-09 14:03] htuch commented on #119
You're correct in noting that files like `.bazelrc` are fairly important to making Envoy build correctly. We mainly use submodules in the Envoy filter example repo because it matches the use of Envoy at some known Envoy depoyments.

What build error are you seeing?

[2020-03-10 16:13] cherryland commented on #119
Thanks @htuch. I got the example working by using the [git_repository](https://docs.bazel.build/versions/master/repo/git.html) rule and the latest commit hash from the submodule definition

[code]

[2020-03-10 16:13] #119 closed

[2020-04-03 04:41] MOURYA00 commented on #85
Is there any way to fix it on windows?

[2020-04-20 22:44] cmiller-sq opened #121 "osx "bazel test" fails with "dyld: Symbol not found: _program_invocation_name""
OSX 10.15.4

bazel: stable 3.0.0 (bottled)

[code]

[code]

[code]

[2020-04-21 03:38] cmiller-sq commented on #121
See also envoyproxy/envoy#10478

[2020-04-22 01:28] mygityf commented on #121
Temporarily add 'char *program_invocation_name;' to the source/exe/main.cc, wait for official solution.

[2020-05-13 16:45] amitc-agr commented on #121
i too facing the same issue...i have changed source/exe/main.cc and add 'char *program_invocation_name;' ...but with no luck

[2020-05-19 22:15] songhu opened #123 "Error in README.md"
There seems a minor error in the README.md "[How It works](https://github.com/envoyproxy/envoy-filter-example#how-it-works)" section. It says "@envoy//source/exe:envoy_main_lib" which should be changed to "@envoy//source/exe:envoy_main_entry_lib" based on the [BUILD file](https://github.com/envoyproxy/envoy-filter-example/blob/fa3005ea48df0bd453d6a3b5eb52d4a783160290/BUILD#L15).

Would suggest cor

[2020-05-19 23:54] songhu commented on #123
created a pull request for it https://github.com/envoyproxy/envoy-filter-example/pull/124

[2020-05-20 15:37] lazy-always opened #125 "How to get upstream host from filter!!"
Is there a way to get upstream host from http filter or network filter? callbacks_->streamInfo().upstreamHost() is alway nullptr. Basically, the custom filter needs to get lb-selected upstream host. Is it possible? I tried with upstream network filter. But upstreamHost is always nullptr. Please help.

[2020-05-20 20:59] #123 closed

[2020-05-27 02:44] ilib0x00000000 opened #126 "run http filter example error, How to solve？"
[2020-05-27 10:41:10.052][457426][debug][config] [external/envoy/source/extensions/filters/network/http_connection_manager/config.cc:446]     http filter #0
[2020-05-27 10:41:10.052][457426][debug][config] [external/envoy/source/extensions/filters/network/http_connection_manager/config.cc:447]       name: sample
[2020-05-27 10:41:10.052][457426][debug][config] [external/envoy/source/extensions/fil

[2020-07-08 05:05] derekargueta commented on #126
Can you give more information on what you're trying to accomplish, the configuration you were trying, and the HTTP request you made?

[2020-07-30 08:43] ggjjlldd commented on #98
You need install ninja and others.

[2020-07-30 20:29] gcaldeira commented on #98
Ok. thanks!

[2020-07-30 20:29] #98 closed

[2020-08-10 02:45] ggjjlldd opened #129 "compile envoy failed error message is unknown type name 'STACK_UNINITIALIZED'"
I use build command :
[code]
but error happend here:

error description：

[code]

compile command ：

[code]

compile environment：

[code]

[2020-08-10 03:50] dio commented on #129
@ggjjlldd could you help to try updating the `ci/do_ci.sh` file with the following diff?

[code]

[2020-08-10 03:57] dio commented on #129
Relevant: https://github.com/envoyproxy/envoy-filter-example/issues/115

[2020-08-10 14:31] LisaLudique commented on #121
I would try installing XCode (the application; CommandLineTools alone is insufficient) and seeing if that solves your problem.

[2020-08-11 01:54] ggjjlldd commented on #129
i tried and it reslove my problems, thanks very much

[2020-08-11 01:54] #129 closed

[2020-08-13 02:55] ggjjlldd opened #130 "how I use this filter in lstio？"
I clone and compile this project well. But I do not know how to use it in envoy? can you help me?

[2020-09-18 12:02] helight opened #131 "build error envoy/source/common/init/manager_impl.cc:73:39: error: unused variable 'count'"
gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

external/envoy/source/common/init/manager_impl.cc:73:39: error: unused variable 'count' [-Werror=unused-variable]
   for (const auto& [target_name, count] : target_names_count_) {
                                       ^
cc1plus: all warnings being treated as errors
Target //:envoy failed to build
Use --verbose_failures to see the command lines of f

[2020-09-22 09:14] helight opened #132 "build error gcc: error trying to exec '/usr/lib/gcc/x86_64-linux-gnu/7/cc1plus': execv: Argument list too long"
gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

ERROR: /home/ubuntu/.cache/bazel/_bazel_ubuntu/3577de60e542174ece7fd3dd4ebef4be/external/envoy/source/exe/BUILD:58:17: C++ compilation of rule
 '@envoy//source/exe:main_common_lib' failed (Exit 1) gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wa
ll -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-

[2020-09-24 10:08] prince286 opened #133 "Not able to run envoy with after build is successful."
I am trying to run envoy with the custom http filter present in **http-filter-example** folder.

Steps followed.
1. Cloned the repo
2. build using
**git submodule update --init
bazel build //http-filter-example:envoy**

Build was successful. After build was successful,  envoy binary was generated inside **http-filter-example ---- bazel bin**.
Now I am trying to run envoy file **front-envoy.yaml**

[2020-10-09 07:35] #132 closed

[2020-10-21 06:06] taoyuanyuan commented on #132
please how to solve it?

[2020-10-21 06:06] taoyuanyuan commented on #132
@helight  thank you

[2020-10-22 04:09] helight commented on #132
1. upgrade gcc to 9 or later
2. clang 10 or later, and this work to me.

[2020-10-26 01:50] Chwetion opened #136 "some error when compilation on arm64"
I cannot use `bazel build //:envoy` or  `./ci/do_ci.sh build` to compile envoy with out tree filter on arm64 cpu (centos).
uname -a: `Linux ecs-526c-0002 4.18.0-80.7.2.el7.aarch64 #1 SMP Thu Sep 12 16:13:20 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux`
detail message: https://github.com/envoyproxy/envoy/issues/13668

[2020-10-26 08:16] Chwetion commented on #136
sorry i found out that this is a problem caused by the development branch I pulled, this is a stupid mistake, when I switched to git checkout v1.16.0, all ok. thx.

[2020-10-26 08:16] #136 closed

[2020-11-23 09:54] eugy-scroodgee commented on #132
Hello, I have the same issue, but gcc and clang both 10th versions. Is this problem really caused by the old version of the build tools?

[2020-11-23 13:58] helight commented on #132
clang 10 or later will be ok

[2020-11-23 14:01] #131 closed

[2020-11-24 10:05] eugy-scroodgee commented on #132
Thanks for the quick reply, but I have clang 10 installed already.

[2020-12-07 17:28] NomadXD opened #138 "Not able to build the executable binary in Ubuntu 20.04 for both gcc and clang"
Hello, I am trying to build the http filter with envoy v1.16.0 . I tried using both **gcc** and **clang** but still no luck.

### GCC
My specs are as follows.

- bazel 3.4.1
- gcc 9.3.0
- gcc++ 9.3.0

When I try to build using the following commands,
[code]
I get the following error.

[code]
### Clang

I followed the instructions on here to download and configure Clang+llvm.

[code]
But I am getti

[2020-12-14 17:53] pgeler commented on #138
same issue, at first view, looks like something with bazel or sub-targets this repository is exploiting 🤯 .
Does anybody look at this?

[2020-12-14 19:39] NomadXD commented on #138
@pgeler That issue with gcc is a common issue i guess. There were some issues raised in the envoy repository itself too. But noone gave a proper answer or way to fix. Did u try with clang ?

[2020-12-15 13:44] pgeler commented on #138
dbg config is building almost fine, but failing at linking stage, with bazel "fatal error: cannot execute '/usr/lib/gcc/x86_64-linux-gnu/9/cc1plus': execv: Argument list too long"

I'm not a bazel expert...

[2020-12-15 17:30] NomadXD commented on #138
@pgeler I was trying to build v1.16.0 and that Quiche build failure was fixed after 1.16.0. So I tried to build from the master and I'm not getting the Quiche build failure but getting the exact same error you mentioned.

[2020-12-15 17:32] NomadXD commented on #138
@pgeler Anyway I was able to build successfully with clang. Can help you with that if you are okay with building using clang.

[2020-12-15 18:02] pgeler commented on #138
Envoy, builds successfully in “-c dbg” … I do understand that there are few problems with gcc and opt build … but filter-example does not builds successfully with dbg and failing at linking stage, I will try to do the same with clang tools later today

Thanks,
Pavel

From: Lahiru Udayanga <notifications@github.com>
Date: Tuesday, December 15, 2020 at 12:32 PM
To: envoyproxy/envoy-filter-example <e

[2020-12-15 19:15] NomadXD commented on #138
@pgeler okay cool. let me know if you get across the issue

[2020-12-16 16:41] pgeler commented on #138
those are my observations:

1) bazel with clang is using argument file for link and compilation, while gcc is using direct list of arguments and both approaches are working fine for main project
2) bazel superproject approach is almost doubling number of arguments for compilation and linking stage, so that clang build is passing successfully on this project while gcc is failing with "too many argu

[2021-01-28 14:20] yunkai123 commented on #138
@pgeler apt install lld llvm python-ispython3 clang-tools + envoy/bazel/setup_clang.sh from root repository. That also works for me, thanks.

[2021-01-29 10:29] NomadXD commented on #138
@yunkai123 thanks. I fixed it some other way. https://github.com/envoyproxy/envoy-filter-example/pull/139

[2021-01-29 10:29] NomadXD commented on #138
@yunkai123 Were you able to generate compile_commands.json for the custom filters you write outside envoy ?

[2021-02-04 10:20] swan-goose commented on #64
Hi,How did you solve your problem, I encountered the same problem

[2021-02-04 10:34] swan-goose commented on #64
I found that someone solved it through ninja-build, but my installation did not solve it

[2021-02-21 08:23] rahulanand16nov opened #140 "Building fails by giving the error: Argument list too long compilation terminated."
I have read past closed issues related to this error but nothing worked out. Can anyone please guide me to solve this problem?
[code]

I tried ulimit -s unlimited, updating GCC, and clang to 9,10. Not sure why it's not working.

*Command Used*

*gcc -v, clang -v and bazel info release*

[2021-02-24 16:26] #140 closed

[2021-03-17 22:09] Rasie1 commented on #140
For me, it worked only when using clang.

[code]

[2021-03-25 00:24] derekargueta opened #142 "post-merge build is broken"
Seems it doesn't like something about tcmalloc
[code]

did a bit of bisecting and I think it started with this commit in main Envoy: https://github.com/envoyproxy/envoy/commit/4c0d2d2a36996f2ec7d00b519ea90068629a2c55

[2021-04-15 08:25] qinggniq opened #145 "test: latest envoy-filter-example test with the latest envoy failed"
Title: *latest envoy-filter-example http_filter_integration_test test with the latest envoy failed*

Reproduce:
[code]
Log:
[code]

Note:
Before commit https://github.com/envoyproxy/envoy-filter-example/commit/b602ea3007d62c1846c73aab864cbd6763f418f6, test pass well, then test fail.

[2021-04-20 08:19] qinggniq commented on #145
closed due to https://github.com/envoyproxy/envoy-filter-example/pull/146

[2021-04-20 08:19] #145 closed

[2021-04-22 11:41] Bo0km4n opened #147 "Failed to build with error to `gcc: error: unrecognized command line option`"
I couldn't build example filter with a below error.

Error description:
[code]

Environment:

**gcc**
[code]

**g++**
[code]

**bazel**
[code]

[2021-04-22 12:31] Bo0km4n commented on #147
The above error was resolved by running this command and then building again.
[code]

[2021-04-22 12:31] #147 closed

[2021-05-06 21:45] timxi opened #148 "Can't build envoy-filter-example with the latest code"
The build has failed for a very long time https://app.circleci.com/pipelines/github/envoyproxy/envoy-filter-example?status=failed

can someone help to take a look at how to fix the issue?

[2021-07-05 06:45] garyyang85 opened #150 "Is it possiable to control source service or the destination service version in rate limit"
I am using rate limit since istio 1.1, now seems the rate limit usage mode is completely changed. Just have a quick test about demo envoy filter configuration, https://istio.io/v1.9/docs/tasks/policy-enforcement/rate-limit/, it works good. Here is more detail scenario.  I have below configuration to control source(production service) to destination(details v1) worked before. But now by envoy filte

[2021-07-05 06:47] #150 closed

[2021-11-04 05:22] vikaskumar11 opened #153 "How to generate golang files from the proto file of the extension filter"
Hi, I want to configure my extension using go-control-plane. for that I need golang file generated from my extension proto file. I tried running ./tools/api/generate_go_protobuf.py, it doesn't work. Any pointers on this.

[2021-11-22 09:57] robinp-tw commented on #142
Using clang-10 seems to help me:
[code]

[2022-03-05 05:56] lazy-always opened #154 "Header added in custom filter - can it be used in routing decision?"
I supposed the custom header added by custom filter (C++) can be used for match header while routing to clusters. Do we need extra configuration to do?
Below “custom.filter” basically adds a header “http-group” with value “r-server”, but somehow it’s not matching.
But if i add the same header in the client request, it works though. Or is it something to do with static routing? Do i need to use RDS

[2022-03-05 10:11] lazy-always commented on #154
Found it - we need to use callbacks_->clearRouteCache(); But be careful to use this, it seems there is a performance penalty on this. https://github.com/envoyproxy/envoy/issues/5914

[2022-03-05 10:11] #154 closed

[2022-04-18 13:57] bryanwux opened #155 "envoy-filter-example build failed"
I got the following failure message when I build envoy-filter-example with latest envoy.
[code]

When I look into this, I find this recently merged PR https://github.com/envoyproxy/envoy/pull/20813 causes this issue because envoy-filter-example/bazel/platform_mappings is missing while this file is needed by envoy-filter-example/envoy/.bazelrc by `build --platform_mappings=bazel/platform_mappings`.

[2022-04-18 14:05] phlax commented on #155
it looks like this should be set up for the filter example:

[code]

not sure why it is failing to build in your env

cc @keith

[2022-04-18 14:26] bryanwux commented on #155
To reproduce this issue:
[code]
I am not sure why the symlink is not working.

[2022-04-19 16:59] keith commented on #155
https://github.com/envoyproxy/envoy-filter-example/pull/157

[2022-04-19 20:50] alecholmez commented on #155
One way to fix this is by just sym link `envoy/bazel`

I got around it that way. Similar to how the .devcontainer is linked

[2022-04-19 20:53] alecholmez opened #158 "Project fails to build on M1 machines"
I've gotten around the platform mapping issues by symlinking the envoy `envoy/bazel` directory into this project, but have encountered something that seems to look like macos options aren't propagating down:

[code]

From what it seems is like options are being passed to a mac os specific linker that should only be on the linux side of things. I'm wondering if this is just the bazel setup.

My baz

[2022-04-19 22:50] alecholmez commented on #158
I was able to fix this by not requiring `exported_symbols=enabled --strip=sometimes` bazel build args

[2022-04-19 22:50] #158 closed

[2022-04-20 15:24] mkauf commented on #155
Another way to fix this bug:
[code]

[2022-04-20 16:19] #155 closed